@charset "utf-8";
/*====================================================
  # mixin
=====================================================*/
$breakpoints: (
  //キー : 値
  "sm": "(max-width: 767px)",
  "tab": "(max-width: 980px)",
  "md": "(min-width: 768px)",
  "dt": "(max-width: 1279px)",
  "dt_min": "(min-width: 1279px)"
) !default;

// メディアクエリ
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*====================================================
  # color
=====================================================*/
$main_color: #1391e6;
$sub_color_dark: #0060a0;
$sub_color_right: #dff1fd;
$accent_color_yellow: #fef251;
$accent_color_pink: #ee5a6d;
$font_color_black: #393939;
$font_color_white: #ffffff;

/*====================================================
  # font
=====================================================*/
$en_font: "Fira Sans", sans-serif;

/*====================================================
  # common - 全体に共通するスタイル
=====================================================*/
@media screen and (max-width: 767px) {
  .is_pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is_sp {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .is_dt {
    display: none;
  }
}

body {
  font-size: 16px;
  color: $font_color_black;
  line-height: 1.6875;
  font-family: "M PLUS Rounded 1c", "Noto Sans JP", "Helvetica Neue", arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", meiryo, sans-serif;
}

.inner {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 80px;

  @include mq("sm") {
    padding: 0 20px;
  }
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.cmn_link {
  width: 176px;
  border-radius: 20px;
  border: 1px solid $main_color;
  background: #fff;
  text-align: center;
  height: 43px;
  line-height: 43px;
  position: relative;

  @include mq("sm") {
    margin: 0 auto;
    margin-top: 40px;
  }
  a {
    display: inline-block;
    color: $main_color;
  }
  &::after {
    content: "";
    position: absolute;
    background: url(../images/icon-arrow-blue-btn.png) center center / contain;
    width: 12px;
    height: 12px;
    top: 35%;
    right: 6px;
  }
}

.cmn_title {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  letter-spacing: 1.6px;

  @include mq("sm") {
    font-size: 1.25rem;
  }

  &::before {
    content: "";
    position: absolute;
    background: url(../images/title-deco.png) center center / contain;
    width: 60px;
    height: 18px;
    top: 35%;
    left: 50%;
    transform: translateX(calc(-50% - 185px));
    @include mq("sm") {
      transform: translateX(calc(-50% - 145px));
      top: 25%;
    }
  }
  &::after {
    content: "";
    position: absolute;
    background: url(../images/title-deco.png) center center / contain;
    width: 60px;
    height: 18px;
    top: 35%;
    right: 50%;
    transform: translateX(calc(-50% + 245px));
    @include mq("sm") {
      transform: translateX(calc(-50% + 205px));
      top: 25%;
    }
  }
}

/*====================================================
  # header
=====================================================*/
.header {
  display: flex;
  align-items: center;
  padding: 25px 40px;
  box-shadow: 0px 3px 6px #00000029;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  background: $font_color_white;
  transition: 0.3s ease;

  &.is_active {
    background: $sub_color_dark;
    box-shadow: none;
    transition: 0.3s ease;
  }
  @include mq("sm") {
    padding: 15px;
  }
}

.header_logo {
  width: 270px;
  &.is_active {
    display: none;
  }
}

.header_menu__wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header_nav {
  margin-right: 60px;
}

.header_list {
  display: flex;
}

.header_item {
  position: relative;
  text-align: center;
  &:not(:last-child) {
    margin-right: 24px;
  }
  &:hover:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: $main_color;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  a {
    transition: 0.3s ease;
    font-size: 0.859vw;
    color: $font_color_black;
    &:hover {
      color: $main_color;
    }
  }

  &.is_active {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: $main_color;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.3s ease;
    }
  }
  &:hover {
    .header_item__desc {
      color: $main_color;
      transition: 0.3s ease;
    }
    .header_image {
      fill: $main_color;
      transition: 0.3s ease;
    }
  }
}

.header_image {
  fill: $font_color_black;
  &.is_active {
    fill: $main_color;
  }
}

.header_item__desc {
  display: block;
  font-weight: bold;

  &.is_active {
    color: $sub_color_dark;
  }
}

.header_access__text {
  font-size: 0.938vw;
}

.header_access__number {
  font-size: 2.5vw;
  color: $main_color;
  font-weight: bold;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../images/icon_tel.png) center center / contain;
    top: 50%;
    transform: translateY(-50%);
    left: -31px;
  }
  &::after {
    content: "〒166-0001 東京都杉並区阿佐谷北7-3-1";
    position: absolute;
    color: $font_color_black;
    font-size: 0.9vw;
    top: -10px;
    right: 0;
  }
}

.drawer {
  z-index: 300;
  display: none;
  @include mq("dt") {
    display: block;
  }
}

.drawer_icon_bars {
  position: relative;
  width: 32px;
  height: 32px;
  &.is_active {
    .drawer_bar_icon1 {
      transform: rotate(45deg);
      top: 8px;
      background: $font_color_white;
    }
    .drawer_bar_icon2 {
      display: none;
    }
    .drawer_bar_icon3 {
      transform: rotate(-45deg);
      top: 8px;
      background: $font_color_white;
    }
  }
}

.drawer_bar_icon1,
.drawer_bar_icon2,
.drawer_bar_icon3 {
  position: absolute;
  width: 100%;
  background: $main_color;
  height: 3px;
  border-radius: 10px;
  top: 0;
  left: 0;
  transition: transform 0.5s ease 0s;
}

.drawer_bar_icon1 {
  top: 0;
}

.drawer_bar_icon2 {
  top: 10px;
}

.drawer_bar_icon3 {
  top: 20px;
}

.drawer_contents {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 60px 40px;
  z-index: 200;
  transform: translateY(105%);
  transition: transform 0.5s ease 0s;
  margin-top: 57px;
  left: 0;

  &.is_active {
    transform: translateY(0);
  }
}

.drawer_contents__title {
  display: none;
  &.is_active {
    display: block;
  }
}

.drawer_content_item__link {
  display: inline-flex;
  align-items: center;
}

.drawer_image {
  fill: #fff;
  margin-right: 14px;
}

.drawer_content_item {
  width: 255px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  border-bottom: 2px dotted #fff;
  padding: 14px;
  &::after {
    content: "";
    position: absolute;
    background: url(../images/icon-right.svg) center center / contain;
    width: 16px;
    height: 15px;
    top: 35%;
    right: 0;
  }
  a {
    color: $font_color_white;
  }
  a > img {
    width: 24px;
    height: 24px;
    margin-right: auto;
  }
}
.drawer_content_item:nth-child(1) {
  border-top: 2px dotted #fff;
}

.drawer_item__desc {
  font-size: 1.094vw;
}

.drawer_item__arrow {
  background: url(../images/icon-right.svg);
  width: 16px;
  height: 15px;
}

.drawer_footer {
  bottom: 0;
}

.drawer_reserve__link {
  a {
    color: $font_color_white;
  }
}

.drawer_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $sub_color_dark;
  display: none;
  z-index: 99;
  transition: 0.3s ease;

  &.is_active {
    display: block;
  }
}

/*====================================================
  # main_vusial
=====================================================*/
.main_vusial {
  margin: 0 62px;
  margin-top: 144px;
  position: relative;

  @include mq("sm") {
    margin: 100px 25px 0;
  }
}

.main_vusial__title {
  position: absolute;
  z-index: 2;
  width: 415px;
  max-width: 415px;
  bottom: 15%;
  left: 10%;

  @include mq("sm") {
    width: 265px;
  }
}

.p_swiper {
  position: relative;
  width: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next {
  background: url(../images/arrow-right.png) center center / contain;
  width: 70px;
  height: 70px;
  color: transparent;
  right: -34px;
  z-index: 10;
  @include mq("sm") {
    width: 40px;
    height: 40px;
    right: -17px;
  }
}
.swiper-button-prev {
  background: url(../images/arrow-left.png) center center / contain;
  width: 70px;
  height: 70px;
  left: -34px;
  @include mq("sm") {
    width: 40px;
    height: 40px;
    left: -17px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: auto;
  transform: rotate(90deg);
  left: -40px;
  @include mq("sm") {
    left: -30px;
  }
}

.main_vusial_footer {
  margin: 0 100px;
  display: flex;
  justify-content: center;

  @include mq("tab") {
    flex-direction: column-reverse;
    margin: 0 26px;
  }
  // @include mq("sm") {
  //   flex-direction: column-reverse;
  //   margin: 0 26px;
  // }
}

.main_vusial__article {
  display: flex;
  justify-content: center;
}

.mv_wrap {
  width: 41vw;
  max-width: 100%;

  @include mq("tab") {
    width: 100%;
  }
}

.mv_article__title_wrap {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.mv_article__title {
  font-size: 1.563vw;
  font-weight: bold;
}

.mv_subtitle {
  color: $main_color;
  font-size: 0.938vw;
  margin-left: 8px;
}

.mv_title__link {
  margin-left: auto;
  a {
    color: #888888;
    font-size: 0.938vw;
  }
}

.mv_article__wrap {
  display: flex;
  align-items: center;
  border-top: 2px solid $font_color_black;
  border-bottom: 2px solid $font_color_black;
  padding: 10px;
}

.mv_article__link {
  display: flex;
  align-items: center;
}

.mv_date {
  font-size: 0.938vw;
}

.mv_article {
  margin-left: 24px;
  a {
    color: $font_color_black;
    font-size: 1.094vw;
  }
}

.mv_ariticle__arrow {
  background: url(../images/icon-arrow-black.png) center center / contain;
  margin-left: auto;
  width: 14px;
  height: 14px;
}

.mv_time__image {
  border-radius: 30px;
  box-shadow: 0 5px 6px 2px gray;
  margin-left: 63px;
  display: block;
  width: 37.2vw;
  // max-width: 100%;
  margin-top: -35px;
  z-index: 1;

  @include mq("tab") {
    border-radius: 20px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 40px;
    margin-top: 0;
  }
}

/*====================================================
  # concept
=====================================================*/
.concept {
  margin-top: 60px;
  position: relative;
}

.concept_bg__image {
  position: absolute;
  background-image: url(../images/concept-bg.png);
  background-size: cover;
  width: 67.5vw;
  height: 56.641vw;
  z-index: -1;
  right: 0;
  top: -35%;

  @include mq("sm") {
    background-image: url(../images/concept-bg_sp.png.jpg) center center / cover;
    top: -25%;
    width: 100%;
    height: 55%;
  }
}

.concept_inner {
  display: flex;
  margin-top: 240px;

  @include mq("sm") {
    flex-direction: column-reverse;
    margin-top: 200px;
  }
}

.concept_image {
  width: 50%;
  height: 100%;
  margin-right: 7.422vw;
  @include mq("sm") {
    padding-right: 41px;
    width: 100%;
    margin-top: 40px;
  }
}

.concept_bg__wrap {
  width: 50%;
  max-width: 100%;
  background: transparent;

  @include mq("sm") {
    width: 100%;
    padding: 0 10px;
  }
}

.concept_title {
  font-size: 1.094vw;
  color: $main_color;
  margin-bottom: 2.188vw;
}

.concept_bg__inner {
  width: 70%;
  @include mq("sm") {
    width: 100%;
  }
}

.concept_sub__title {
  font-size: 2.188vw;
  font-weight: bold;
  margin-bottom: 3.125vw;
  @include mq("sm") {
    font-size: 20px;
  }
}

.concept_desc {
  font-size: 1.094vw;
  @include mq("sm") {
    margin-top: 32px;
    font-size: 14px;
  }
}

.concept_link {
  margin-top: 3.125vw;
  width: 176px;
  border-radius: 20px;
  border: 1px solid $main_color;
  background: #fff;
  text-align: center;
  height: 43px;
  line-height: 43px;
  position: relative;

  @include mq("sm") {
    margin: 0 auto;
    margin-top: 40px;
  }
  a {
    display: inline-block;
    color: $main_color;
  }
  &::after {
    content: "";
    position: absolute;
    background: url(../images/icon-arrow-blue-btn.png) center center / contain;
    width: 12px;
    height: 12px;
    top: 35%;
    right: 6px;
  }
}

/*====================================================
  # recommend
=====================================================*/
.recommend {
  margin-top: 250px;
  @include mq("sm") {
    margin-top: 120px;
  }
}

.recommend_list {
  display: flex;
  margin-top: 60px;
  @include mq("sm") {
    display: block;
  }
}

.recommend_item {
  width: calc(100% / 3);
  @include mq("sm") {
    width: 100%;
  }

  &:not(:first-child) {
    margin-left: 66px;
    @include mq("sm") {
      margin-left: 0;
      margin-top: 67px;
    }
  }
}

.recommend_title__image {
  width: 177px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.recommen_item_image {
  margin-bottom: 24px;
}

.recommend_text {
  font-size: 0.875rem;
  line-height: 1.7;
}

.recommend_text__red {
  color: $accent_color_pink;
}

/*====================================================
  # guidance
=====================================================*/
.guidance {
  margin-top: 165px;
  @include mq("sm") {
    margin-top: 100px;
  }
}

.guidance_bg__top {
  background: url(../images/bg-top.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 15.703vw;
  width: 100%;
}

.guidance_inner {
  background: $sub_color_right;
}

.guidance_title {
  &::before {
    left: 50%;
    transform: translateX(calc(-50% - 110px));
    @include mq("sm") {
      transform: translateX(calc(-50% - 85px));
      top: 25%;
    }
  }
  &::after {
    right: 50%;
    transform: translateX(calc(-50% + 165px));
    @include mq("sm") {
      transform: translateX(calc(-50% + 140px));
      top: 25%;
    }
  }
}

.guidance_wrap {
  display: flex;
  margin-top: 60px;
  @include mq("sm") {
    display: block;
  }
}

.guidance_item__inner {
  overflow: hidden;
  width: calc(100% / 2);
  height: 290px;
  border-radius: 20px;
  position: relative;
  &:nth-child(1) {
    margin-right: 80px;
    @include mq("sm") {
      margin-bottom: 20px;
    }
  }
  @include mq("sm") {
    width: 100%;
  }
}

.guidance_item {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: inline-block;
  transition: 0.3s ease-in-out;
  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: inherit;
    width: 100%;
    border-radius: 20px;
    transition: 0.4s ease;
  }
  &:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  &:hover::after {
    content: "";
    position: absolute;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 87%;
    height: 83%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    transform: scale(1.1);
  }
}

.guidance_item1 {
  background: url(../images/medical_1.png);
  background-size: cover;
}

.guidance_item2 {
  background: url(../images/medical_2.png);
  background-size: cover;
}

.guidance_item__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.guidance_sub__title {
  font-size: 1.75rem;
  color: $font_color_white;
  font-weight: bold;
  text-align: center;
  position: relative;
  @include mq("sm") {
    font-size: 1.25rem;
  }

  &::before {
    content: "";
    position: absolute;
    background: $font_color_white;
    height: 2px;
    width: 50px;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.guidance_text {
  margin-top: 42px;
  color: $font_color_white;
  @include mq("sm") {
    font-size: 0.75rem;
  }
}

.guidance_desc__wrap {
  background: #fff;
  padding: 40px;
  margin-top: 61px;
  @include mq("sm") {
    padding: 20px;
    margin-top: 20px;
  }
}

.guidance_desc {
  font-size: 0.875rem;
}

.guidance_desc_red {
  color: $accent_color_pink;
}

.gudaince_bg__bottom {
  height: 15.703vw;
  width: 100%;
  background: url(../images/bg-bottom.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: url(../images/deco-kirakira2-w.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 4.453vw;
    height: 4.453vw;
    bottom: 80px;
    left: 10px;
    @include mq("sm") {
      bottom: 30px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    background: url(../images/deco-kirakira-w.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 9.766vw;
    height: 10.703vw;
    bottom: 60px;
    right: 5px;
    @include mq("sm") {
      bottom: 10px;
    }
  }
}

/*====================================================
  # staff_blog
=====================================================*/
.staff_blog {
  margin-top: 160px;
  @include mq("sm") {
    margin-top: 100px;
  }
}

.staff_blog__title {
  &::before {
    left: 50%;
    transform: translateX(calc(-50% - 150px));
    @include mq("sm") {
      transform: translateX(calc(-50% - 120px));
      top: 25%;
    }
  }
  &::after {
    right: 50%;
    transform: translateX(calc(-50% + 210px));
    @include mq("sm") {
      transform: translateX(calc(-50% + 180px));
      top: 25%;
    }
  }
}

.staff_blog__list {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.staff_blog__item {
  display: inline-block;
  width: calc(33.3% - 100px / 3);
  margin: 0 50px 50px 0;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 8px gray;
  &:hover {
    .staff_blog__thumbnail > img {
      transform: translate(-50%, -50%) scale(1.05);
    }
  }
  &:hover {
    .staff_blog_title {
      color: $main_color;
    }
  }
  @include mq("sm") {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
    border-radius: 0;
    box-shadow: none;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  &:not(::nth-child(3n + 1)) {
    margin-right: 0;
  }
}

.staff_blog__item:nth-child(3n) {
  margin-right: 0;
}

.staff_blog__item:nth-child(4),
.staff_blog__item:nth-child(5),
.staff_blog__item:nth-child(6) {
  margin-bottom: 0;
}

.blog_new__tag {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $accent_color_pink;
  text-align: center;
  line-height: 60px;
  color: #fff;
  top: -30px;
  left: -10px;
  z-index: 2;
  @include mq("sm") {
    width: 40px;
    height: 40px;
    font-size: 0.625rem;
    line-height: 40px;
    top: -5px;
  }
}

.staff_blog__thumbnail {
  padding-top: 61.5385%;
  position: relative;
  overflow: hidden;

  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: transform 0.4s;
  }
  @include mq("sm") {
    width: 40%;
    padding-top: 31.5385%;
  }
}

.thumbnail_image {
  overflow: hidden;
}

.archive_tag {
  position: absolute;
  text-align: center;
  top: -35px;
  left: 15px;
  background: $main_color;
  color: #fff;
  border-radius: 30px;
  font-size: 0.6875rem;
  padding: 6px 12px;
  @include mq("sm") {
    font-size: 0.625rem;
    padding: 3px;
    top: -25px;
    left: 7px;
  }
}

.staff_blog__textwrap {
  padding: 0 20px 5px 20px;
  margin-top: 20px;
  position: relative;
  @include mq("sm") {
    width: 60%;
    height: auto;
    padding: 0;
    padding-left: 10px;
  }
}

.staff_blog_title {
  @include mq("sm") {
    font-size: 0.875rem;
  }
}

.staff_blog__date {
  font-size: 0.6875rem;
  margin-top: 7px;
}

.staff_blog__link {
  width: 280px;
  margin: 60px auto 0;
  @include mq("sm") {
    margin-top: 40px;
  }
}

/*====================================================
  # footer
=====================================================*/
.footer {
  margin-top: 160px;
  background: $sub_color_right;
  position: relative;
  padding-top: 50px;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 33px;
    background: url(../images/wave.png) no-repeat center center;
    background-size: cover;
    top: -33px;
  }
}

.footer_inner {
}

.footer_contents {
  display: flex;
  background: #fff;
  padding: 50px;
  border-radius: 20px;
  @include mq("tab") {
    display: block;

  }
}

.footer_item {
  width: calc(100% / 2);
  @include mq("tab") {
    width: 100%;
  }
}

.footer_item1 {
  margin-right: 40px;
}

.footer_item2 {
  @include mq("tab") {
    margin-top: 20px;
  }
}

.footer_title {
  width: 31.406vw;
  margin: 0 auto;
  @include mq("tab") {
    width: 90%;
  }
}

.footer_access {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 8px;
}

.access_span {
  margin-right: 14px;
}

.footer_tel {
  font-size: 2rem;
  color: $main_color;
  text-align: center;
  margin-top: 20px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: url(../images/icon_tel.png) no-repeat center center;
    background-size: contain;
    width: 28px;
    height: 28px;
    top: 50%;
    transform: translateY(-50%);
    left: calc(50% - 145px);
  }
}

.footer_links {
  display: flex;
  @include mq("tab") {
    justify-content: center;
  }
}

.footer_link {
  width: 17.188vw;
  height: 56px;
  text-align: center;
  border-radius: 30px;
  line-height: 56px;
  @include mq("tab") {
    width: 150px;
  }
  a {
    display: inline-block;
    width: inherit;
    height: inherit;
  }
}

.footer_link_img_pc {
  display: inline-block;
  width: 28px;
  margin-right: 5px;
  line-height: 15px;
}

.footer_link_img_mail {
  display: inline-block;
  width: 25px;
  line-height: 25px;
  margin-right: 5px;
}

.footer_link1 {
  background: $main_color;
  margin-right: 20px;
  a {
    color: $font_color_white;
  }
}

.footer_link2 {
  background: transparent;
  border: 1px solid $main_color;
  a {
    color: $main_color;
  }
}

.footer_time {
  border-radius: 20px;
  box-shadow: 2px 10px 15px -5px #777777;
  margin-top: 20px;
}

.footer_map {
  position: relative;
  overflow: hidden;
  padding-top: 81%;
}

.g-map {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.footer_nav {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  @include mq("tab") {
    display: block;
  }
}

.footer_nav_list {
  &:not(:first-child) {
    margin-left: 40px;
    @include mq("tab") {
      margin-left: 0;
      margin-top: 40px;
    }
  }
}

.footer_nav_title {
  margin-bottom: 20px;
  font-weight: bold;
}

.footer_nav_flex {
  display: flex;
  >.footer_nav_wrap:nth-child(1) {
    margin-right: 20px;
  }
}

.footer_nav_item {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: url(../images/icon-arrow-blue.png) no-repeat center center;
    background-size: contain;
    width: 6px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
  }
  &:not(:first-child) {
    margin-top: 20px;
  }
  a {
    color: $font_color_black;
  }
}

.copyright {
  padding: 17px 0;
  background: $main_color;
  text-align: center;
  color: $font_color_white;
  margin-top: 60px;
  @include mq("sm") {
    height: 115px;
  }
}

/*====================================================
  # to_top
=====================================================*/
.to_top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 52px;
  height: 52px;
  transition: 0.3s ease;
  z-index: 1;
  visibility: hidden;
  opacity: 1;
  &.is_show {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    opacity: 0.7;
  }
  @include mq("sm") {
    bottom: 90px;
  }
  a {
    transition: 0.3s ease;
  }
}

/*====================================================
  # web_reserve_icon
=====================================================*/
.web_reserve_icon {
  width: 92px;
  height: 120px;
  background: $main_color;
  position: fixed;
  right: 0;
  top: 200px;
  padding: 20px 17px;
  border-radius: 20px 0 0 20px;
  z-index: 10;
  a {
    color: $font_color_white;
    width: inherit;
    height: inherit;
  }
  @include mq("tab") {
    display: none;
  }
}

.reserve_text {
  font-size: 0.875rem;
}

/*====================================================
  # contact_baner_footer
=====================================================*/
.footer_fixd {
  padding: 6px 16px;
  border-top: 1px solid $main_color;
  position: fixed;
  width: 100%;
  height: auto;
  background: #fff;
  z-index: 300;
  bottom: 0;
  display: none;
  @include mq("sm") {
    display: block;
  }

  &.is_active {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.contact_baner__footer {
  display: flex;
}

.baber_tel__link {
  width: calc(100% / 2);
  color: $main_color;
  font-size: 20px;
  text-align: center;
  position: relative;
  &::after {
    content: "(年中無休 AM9:00〜PM22:00)";
    position: absolute;
    color: $font_color_black;
    font-size: 1.094vw;
    top: 27px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  &::before {
    content: "";
    position: absolute;
    background: url(../images/icon_tel.png) center center / contain;
    width: 18px;
    height: 18px;
    left: 50%;
    top: 18%;
    transform: translateX(calc(-50% - 85px));
  }
}

.baner_reserve__link {
  width: calc(100% / 2);
  background: $main_color;
  border-radius: 10px;
  position: relative;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    text-align: center;
    display: inline-block;
    color: $font_color_white;
    line-height: 1.3;
  }
}

.baner_reserve__imgae {
  background: url(../images/icon-pc.png) center center / cover;
  width: 48px;
  height: 28px;
  margin-right: 10px;
}

.baner_reserve__span {
  font-size: 12px;
}


/*====================================================
  # 下層ページ About
=====================================================*/
.about_top {
  padding: 0 60px;
  @include mq ("sm") {
    padding: 0 20px;
  }
}

.about_inenr {
  @include mq ("md") {
    margin-top: 148px;
    background: url(../images/page-about_top.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 403px;
    border-radius: 12px;
    position: relative;
  }
  @include mq ("sm") {
    margin-top: 82px;
    background: url(../images/page-about_top-sp.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 188px;
    border-radius: 12px;
    position: relative;
  }
}

.about_title_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $font_color_white;
  text-align: center;
}

.about_top__title {
  position: relative;
  font-size: 2rem;
  line-height: 0.8;
  letter-spacing: 3.2px;
  font-weight: bold;
  @include mq ("sm") {
    font-size: 1.5rem;
  }
}

.about_top_text {
  font-size: 0.875rem;
  margin-top: 20px;
  letter-spacing: 1.4px;
  @include mq ("sm") {
    font-size: 0.75rem;
    margin-top: 16px;
  }
}

.breadcrumb {
  margin-top: 14px;
  margin-left: 30px;
  font-size: 0.75rem;
  @include mq ("sm") {
    margin-left: 0;
    margin-top: 10px;
  }
}

.breadcrumb_item {
  color: #C2C2C2;
}